<div class="edit-event">
  <div class="edit-event__form">
    <h1>Edit Event</h1>
    <%= render 'form', event: @event %>
  </div>
  <div class="edit-event__rsvps">
    <%= render 'rsvps' %>
  </div>
</div>

