<div class="rsvp__header">
  <div class="rsvp__mark">
    <%= render partial: '/shared/watt/svgs/full_mark' %>
  </div>
  <h5><%= @event.presented_by %></h5>
  <h1><%= @event.name %></h1>
  <% unless @event.description.blank? %>
    <div>
      <%= markdown @event.description %>
    </div>
  <% end %>
</div>