<div class="rsvp">
  <%= render 'header' %>
  <%- if @total_count > @event.capacity %>
    <p>Thank you for your interest in <%= @event.name %>. This event is currently at capacity, but we have added your name to our waiting list and will be in touch in the chance a space opens up. We appreciate your understanding.</p>
  <%- else %>
    <p>Thank you for your RSVP.</p>
  <%- end %>
  <p>Sign up for an <a href="https://www.artsy.net">Artsy</a> account to discover and buy the world's greatest art online.</p>
  <div class="actions">
    <a href="https://www.artsy.net/sign_up" class="btn btn-primary btn-full-width">Sign Up</a>
  </div>
</div>

