---
http_interactions:
- request:
    method: post
    uri: https://constellation-staging.artsy.net/api/graphql/
    body:
      encoding: UTF-8
      string: '{"query":"mutation Constellation__CreateRsvpMutation($input: createRsvpInput!)
        {\n  createRsvp(input: $input) {\n    id\n    total_count\n  }\n}","variables":{"input":{"name":"Matt","email":"matt@email.com","event_id":""}},"operationName":"Constellation__CreateRsvpMutation"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjYXRzIn0.b1QuYVsSaM6uAQ8427p0lwCciJlWd55pe-q3lm0aCpA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"647a631a87d270b4b85dbb175caba7bb"
    body:
      encoding: UTF-8
      string: '{"data":{"createRsvp":null},"errors":[{"message":"Validation failed:
        Event can''t be blank","locations":[{"line":2,"column":3}],"path":["createRsvp"]}]}'
  recorded_at: Wed, 18 Oct 2017 21:04:31 GMT
recorded_with: VCR 3.0.3
