.edit-event {
  &__form, &__rsvps {
    display: inline-block;
    vertical-align: top;
    padding: 0 20px;
  }
  &__form {
    width: 35%;
  }
  &__rsvps {
    width: 60%;
  }
}

.waitlisted {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: #eee;
  &--red {
    background-color: $red;
  }
  &--green {
    background-color: $green;
  }
}