.event {
  &__form, &__rsvps {
    display: inline-block;
    vertical-align: top;
    padding: 0 20px;
  }
  &__form {
    width: 35%;
  }
  &__rsvps {
    width: 60%;
  }
  &__rsvps__header {
    @include clearfix();
    padding-bottom: 20px;
  }

  .help a {
    font-size: 11px;
    color: $gray-dark;
  }
}

.waitlisted {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: #eee;
  &--true {
    background-color: $red;
  }
  &--false {
    background-color: $green;
  }
}

.admin-events-go-to-form {
  text-decoration: underline;
  color: $gray-dark;
}
