.rsvp {
  max-width: 420px;
  padding: 20px;
  margin: 0 auto;

  a {
    text-decoration: underline;
  }

  h1, h5 {
    text-align: center;
  }
  h5 {
    @include sans-serif();
    font-size: 11px;
    margin: 10px 0;
  }
  h1 {
    margin-bottom: 10px;
  }
  p {
    font-size: 16px;
    margin: 10px 0;
  }
  &__header {
    margin-bottom: 20px;
  }
  &__footer {
    color: $gray-dark;
  }
  &__mark {
    width: 100px;
    margin: 0 auto;
    svg {
      max-width: 100%;
      height: 50px;
    }
  }
  &__guests .guest-fields {
    display: none;
  }
  &__errors {
    @include sans-serif();
    background-color: $red;
    padding: 5px 10px;
    color: #fff;
    margin-bottom: 10px;
    p{
      font-size: 11px;
      margin: 5px 0;
    }
  }

  .center {
    text-align: center;
  }
}
