%a.brand{ href: '/admin/events' }
  = render partial: '/shared/watt/svgs/mark'
.nav-application-name
  = link_to 'Events', '/admin/events'
.nav
  = link_to "New Event", new_admin_event_url, class: 'btn btn-primary'
